@font-face {
  font-family: 'GothamBold';
  src: url('./fonts/GothamRnd-Bold.otf') format('opentype');
  font-style: bold;
}

@font-face {
  font-family: 'GothamBoldIta';
  src: url('./fonts/GothamRnd-BoldIta.otf') format('opentype');
  font-style: bold italic;
}

@font-face {
  font-family: 'GothamBook';
  src: url('./fonts/GothamRnd-Book.otf') format('opentype');
  font-style: book;
}

@font-face {
  font-family: 'GothamBookIta';
  src: url('./fonts/GothamRnd-BookIta.otf') format('opentype');
  font-style: book italic;
}

@font-face {
  font-family: 'GothamLight';
  src: url('./fonts/GothamRnd-Light.otf') format('opentype');
  font-style: light;
}

@font-face {
  font-family: 'GothamLightIta';
  src: url('./fonts/GothamRnd-LightIta.otf') format('opentype');
  font-style: light italic;
}

@font-face {
  font-family: 'GothamMedium';
  src: url('./fonts/GothamRnd-Medium.otf') format('opentype');
  font-style: medium;
}

@font-face {
  font-family: 'GothamMedIta';
  src: url('./fonts/GothamRnd-MedIta.otf') format('opentype');
  font-style: medium italic;
}

*,
*::after,
*::before {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
  
}

body {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  box-sizing: border-box;


}

.header {
  height: 95vh;
  font-size: 1.8rem;
  background-image: url(./images/PNG/hero.jpg);
  background-size: cover;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}

.logo  {
  font-family: 'GothamBoldIta';
  color: white;
  background-color: rgba(68, 189, 88, 0.22);
  padding: 2rem;

}

.go{
  text-decoration: underline;
}

.logo2  {
  font-family: 'GothamBold';
  
}
.secondary-background{
  background-color: rgb(0, 142, 94);
  background-size: contain;
  position: absolute;
  top: 90%;
  width: 100%;
  clip-path: polygon(50% 0%, 80% 10%, 100% 25%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0 24%, 17% 10%);
  height: 25vh;
}

.heading-primary{
  z-index: 9000;
  position: absolute;
  top: 100%;
}


