@font-face {
  font-family: 'GothamBold';
  src: url('./fonts/GothamRnd-Bold.otf') format('opentype');
  font-style: bold;
}

@font-face {
  font-family: 'GothamBoldIta';
  src: url('./fonts/GothamRnd-BoldIta.otf') format('opentype');
  font-style: bold italic;
}

@font-face {
  font-family: 'GothamBook';
  src: url('./fonts/GothamRnd-Book.otf') format('opentype');
  font-style: book;
}

@font-face {
  font-family: 'GothamBookIta';
  src: url('./fonts/GothamRnd-BookIta.otf') format('opentype');
  font-style: book italic;
}

@font-face {
  font-family: 'GothamLight';
  src: url('./fonts/GothamRnd-Light.otf') format('opentype');
  font-style: light;
}

@font-face {
  font-family: 'GothamLightIta';
  src: url('./fonts/GothamRnd-LightIta.otf') format('opentype');
  font-style: light italic;
}

@font-face {
  font-family: 'GothamMedium';
  src: url('./fonts/GothamRnd-Medium.otf') format('opentype');
  font-style: medium;
}

@font-face {
  font-family: 'GothamMedIta';
  src: url('./fonts/GothamRnd-MedIta.otf') format('opentype');
  font-style: medium italic;
}

$color-primary-green: #648a6a;
$color-white: #ffffff;

*,
*::after,
*::before {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
  
}

body {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  box-sizing: border-box;


}

.header {
  height: 95vh;
  font-size: 1.8rem;
  background-image: url(./images/PNG/iStock-1@2x.png);
  background-size: cover;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}

.logo  {
  font-family: 'GothamBoldIta';
  color: white;
  background-color: rgba($color-primary-green, 0.22);
  padding: 2rem;

}

.go{
  text-decoration: underline;
}

.logo2  {
  font-family: 'GothamBold';
  
}


.secondary-background{
  background-image: url(./images/PNG/main-green-background.png);
  background-size: cover;
  position: absolute;
  top: 85%;
  width: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.heading-primary {
  font-weight: 700;
  font-size: 1.5em;
  color: $color-white;
  font-family: 'GothamBold';
  text-align: center;
  bottom: 200%;
  margin-top: 1.5rem;

  animation-name: moveFromLeft;
  animation-duration: 1.5s;
}

.heading-secondary {
  font-size: 1em;
  font-weight: 500;
  color: rgb(47, 243, 8);
  font-family: 'GothamBoldIta';
  text-align: center;
  top: 150%;

  animation: moveFromRight 1.5s;
}

@keyframes moveFromLeft{
  0% {
    opacity: 0%;
    transform: translateX(-100px);
  }

  50%{
    transform: translateX(20px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromRight{
  0% {
    opacity: 0%;
    transform: translateX(100px);
  }

  50%{
    transform: translateX(-20px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

.navigation{

  &_checkbox {
    display: none;

  }

  &_background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    background-color:  $color-primary-green;
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.83, 0, 0.17, 1);

    // transform: scale(80);

  }

  &_button {
    background-color: $color-white;
    height: 5rem;
    width: 5rem;
    position:fixed;
    top: 1.5rem;
    right: 1rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem (black, .1);
    text-align: center;
  }

  &_nav{
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;

    opacity:0;
    width:0;
    transition: opacity .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  }

  &_list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  &_item{
    margin: 1rem;
  }

  &_link{

    &:link,
    &:visited{
      display: inline-block;
      font-family: 'GothamBold';
      font-size: 2.5rem;
      font-weight: 900;
      color: #85d893;
      text-decoration: none;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgb(224, 224, 224)50%);
      padding: 5rem, 7rem;
      margin: .5rem;
      background-size: 320%;
      transition: all .4s;
    }

    &:hover,
    &:active{
      background-position: 100%;
      color: $color-white;
      transform: translateX(1rem);
    }


  }

  //functionality
  &_checkbox:checked ~ &_background{
    transform: scale(90);
  }

  &_checkbox:checked ~ &_nav{
    width: 100%;
    opacity: 1;
  }

  //icon
  &_icon{
  position: relative;

    &,
    &::before,
    &::after{
      width: 3rem;
      height: 2px;
      background-color:black;
      display: inline-block;


      &::before,
      &::after{
        content: "";
        position: absolute;
        left: 0;
      }

      &::before{ top: -1rem; }
      &::after {top: 1rem; }
    }
  }
}

